Repository parameter1/pmmi-media-group-websites, pull requests merged in 2019-10, with the labels that each got.

#10 Second round PMMI updates
  packages/common/package.json
  sites/automationworld/config/gcse.js
  sites/automationworld/config/navigation.js
  sites/automationworld/package.json
  sites/automationworld/server/templates/subscribe/index.marko
  sites/healthcarepackaging/config/gcse.js
  sites/healthcarepackaging/config/navigation.js
  sites/healthcarepackaging/package.json
  sites/healthcarepackaging/server/templates/subscribe/index.marko
  sites/oemmagazine/config/gcse.js
  sites/oemmagazine/config/navigation.js
  sites/oemmagazine/package.json
  sites/oemmagazine/server/templates/subscribe/index.marko
  sites/packworld/config/gcse.js
  sites/packworld/config/navigation.js
  sites/packworld/package.json
  sites/packworld/server/templates/subscribe/index.marko
  sites/profoodworld/config/gcse.js
  sites/profoodworld/config/navigation.js
  sites/profoodworld/package.json
  sites/profoodworld/server/templates/subscribe/index.marko
  yarn.lock
Labels: site: automationworld, site: healthcarepackaging, site: oemmagazine, site: packworld, site: profoodworld

#11 PMMI Round 3 changes
  sites/automationworld/config/native-x.js
  sites/automationworld/config/site.js
  sites/automationworld/server/styles/index.scss
  sites/automationworld/server/templates/content/index.marko
  sites/healthcarepackaging/config/native-x.js
  sites/healthcarepackaging/config/site.js
  sites/healthcarepackaging/server/styles/index.scss
  sites/healthcarepackaging/server/templates/content/index.marko
  sites/oemmagazine/config/native-x.js
  sites/oemmagazine/config/site.js
  sites/oemmagazine/server/styles/index.scss
  sites/oemmagazine/server/templates/content/index.marko
  sites/packworld/config/native-x.js
  sites/packworld/config/site.js
  sites/packworld/server/styles/index.scss
  sites/packworld/server/templates/content/index.marko
  sites/profoodworld/config/native-x.js
  sites/profoodworld/config/site.js
  sites/profoodworld/server/styles/index.scss
  sites/profoodworld/server/templates/content/index.marko
Labels: site: automationworld, site: healthcarepackaging, site: oemmagazine, site: packworld, site: profoodworld

#12 PMMI Round 4
  sites/automationworld/config/gam.js
  sites/automationworld/config/navigation.js
  sites/automationworld/config/site.js
  sites/automationworld/server/components/flows/content-load-more.marko
  sites/automationworld/server/templates/content/index.marko
  sites/automationworld/server/templates/index.marko
  sites/automationworld/server/templates/website-section/index.marko
  sites/healthcarepackaging/config/navigation.js
  sites/healthcarepackaging/config/site.js
  sites/oemmagazine/config/navigation.js
  sites/oemmagazine/config/site.js
  sites/packworld/config/navigation.js
  sites/packworld/config/site.js
  sites/packworld/server/templates/subscribe/index.marko
  sites/profoodworld/config/navigation.js
  sites/profoodworld/config/site.js
Labels: site: automationworld, site: healthcarepackaging, site: oemmagazine, site: packworld, site: profoodworld

#13 Updated ad unit names
  sites/automationworld/server/templates/dynamic-page/index.marko
  sites/automationworld/server/templates/magazine/index.marko
  sites/automationworld/server/templates/magazine/issue.marko
  sites/automationworld/server/templates/magazine/publication.marko
  sites/automationworld/server/templates/published-content/events.marko
  sites/automationworld/server/templates/published-content/videos.marko
  sites/automationworld/server/templates/published-content/webinars.marko
  sites/automationworld/server/templates/published-content/white-papers.marko
  sites/automationworld/server/templates/search.marko
  sites/automationworld/server/templates/subscribe/index.marko
  sites/automationworld/server/templates/website-section/contact-us.marko
  sites/automationworld/server/templates/website-section/index.marko
Labels: site: automationworld

#17 HCP, OEM, PW, PFW content layouts, ad configs
  sites/automationworld/server/templates/content/index.marko
  sites/healthcarepackaging/config/gam.js
  sites/healthcarepackaging/config/native-x.js
  sites/healthcarepackaging/server/components/flows/content-card-deck.marko
  sites/healthcarepackaging/server/components/flows/content-load-more.marko
  sites/healthcarepackaging/server/components/flows/marko.json
  sites/healthcarepackaging/server/templates/content/index.marko
  sites/oemmagazine/config/gam.js
  sites/oemmagazine/config/native-x.js
  sites/oemmagazine/server/components/flows/content-card-deck.marko
  sites/oemmagazine/server/components/flows/content-load-more.marko
  sites/oemmagazine/server/components/flows/marko.json
  sites/oemmagazine/server/templates/content/index.marko
  sites/packworld/config/gam.js
  sites/packworld/config/native-x.js
  sites/packworld/server/components/flows/content-card-deck.marko
  sites/packworld/server/components/flows/content-load-more.marko
  sites/packworld/server/components/flows/marko.json
  sites/packworld/server/templates/content/index.marko
  sites/profoodworld/config/gam.js
  sites/profoodworld/config/native-x.js
  sites/profoodworld/server/components/flows/content-card-deck.marko
  sites/profoodworld/server/components/flows/content-load-more.marko
  sites/profoodworld/server/components/flows/marko.json
  sites/profoodworld/server/templates/content/index.marko
Labels: site: healthcarepackaging, site: oemmagazine, site: packworld, site: profoodworld

#24 Update content-page fragments
  sites/healthcarepackaging/server/graphql/fragments/content-page.js
  sites/oemmagazine/server/graphql/fragments/content-page.js
  sites/packworld/server/graphql/fragments/content-page.js
  sites/profoodworld/server/graphql/fragments/content-page.js
Labels: site: healthcarepackaging, site: oemmagazine, site: packworld, site: profoodworld

#25 OEM home & section landing page setup
  sites/oemmagazine/server/components/blocks/content-load-more.marko
  sites/oemmagazine/server/components/blocks/marko.json
  sites/oemmagazine/server/components/flows/marko.json
  sites/oemmagazine/server/templates/index.marko
  sites/oemmagazine/server/templates/website-section/index.marko
Labels: site: oemmagazine

#23 ProFoodWorld.com homepage & section setup
  sites/profoodworld/server/components/blocks/content-load-more.marko
  sites/profoodworld/server/components/blocks/marko.json
  sites/profoodworld/server/components/flows/marko.json
  sites/profoodworld/server/templates/index.marko
  sites/profoodworld/server/templates/website-section/index.marko
Labels: site: profoodworld

#28 Fixed PFW leaderboard path…yes it is spelled wrong
  sites/profoodworld/config/gam.js
Labels: site: profoodworld

#29 Update pmmi's colors
  packages/common/leaders/components/contextual.marko
  packages/common/leaders/components/index.marko
  sites/automationworld/server/styles/index.scss
  sites/healthcarepackaging/server/styles/index.scss
  sites/oemmagazine/server/styles/index.scss
  sites/packworld/server/styles/index.scss
  sites/profoodworld/server/styles/index.scss
Labels: site: automationworld, site: healthcarepackaging, site: oemmagazine, site: packworld, site: profoodworld

#30 Corrected aw skyscraper path
  sites/automationworld/config/gam.js
Labels: site: automationworld

#35 Updated HCP, OEM menu links to use /leaders route & layout
  sites/healthcarepackaging/config/navigation.js
  sites/oemmagazine/config/navigation.js
Labels: site: healthcarepackaging, site: oemmagazine

#36 Updated favicons
  sites/automationworld/server/public/android-chrome-192x192.png
  sites/automationworld/server/public/android-chrome-512x512.png
  sites/automationworld/server/public/apple-touch-icon.png
  sites/automationworld/server/public/favicon-16x16.png
  sites/automationworld/server/public/favicon-32x32.png
  sites/automationworld/server/public/favicon.ico
  sites/healthcarepackaging/server/public/android-chrome-192x192.png
  sites/healthcarepackaging/server/public/android-chrome-512x512.png
  sites/healthcarepackaging/server/public/apple-touch-icon.png
  sites/healthcarepackaging/server/public/favicon-16x16.png
  sites/healthcarepackaging/server/public/favicon-32x32.png
  sites/healthcarepackaging/server/public/favicon.ico
  sites/oemmagazine/server/public/android-chrome-192x192.png
  sites/oemmagazine/server/public/android-chrome-512x512.png
  sites/oemmagazine/server/public/apple-touch-icon.png
  sites/oemmagazine/server/public/favicon-16x16.png
  sites/oemmagazine/server/public/favicon-32x32.png
  sites/oemmagazine/server/public/favicon.ico
  sites/packworld/server/public/android-chrome-192x192.png
  sites/packworld/server/public/android-chrome-512x512.png
  sites/packworld/server/public/apple-touch-icon.png
  sites/packworld/server/public/favicon-16x16.png
  sites/packworld/server/public/favicon-32x32.png
  sites/packworld/server/public/favicon.ico
  sites/profoodworld/server/public/android-chrome-192x192.png
  sites/profoodworld/server/public/android-chrome-512x512.png
  sites/profoodworld/server/public/apple-touch-icon.png
  sites/profoodworld/server/public/favicon-16x16.png
  sites/profoodworld/server/public/favicon-32x32.png
  sites/profoodworld/server/public/favicon.ico
Labels: site: automationworld, site: healthcarepackaging, site: oemmagazine, site: packworld, site: profoodworld

#37 Updated HOF links
  sites/healthcarepackaging/config/navigation.js
  sites/packworld/config/navigation.js
Labels: site: packworld

#38 Pmmi updates, Company page
  packages/common/components/blocks/company-details.marko
  packages/common/components/blocks/marko.json
  packages/common/components/elements/company-logo.marko
  packages/common/components/elements/marko.json
  packages/common/components/marko.json
  packages/common/components/nodes/author-card.marko
  packages/common/components/nodes/marko.json
  packages/common/components/nodes/youtube-card.marko
  packages/common/leaders/browser/data-card-content.vue
  packages/common/marko.json
  packages/common/scss/common.scss
  packages/common/scss/company-page.scss
  sites/automationworld/server/components/flows/content-list.marko
  sites/automationworld/server/components/flows/marko.json
  sites/automationworld/server/graphql/fragments/content-company.js
  sites/automationworld/server/routes/content.js
  sites/automationworld/server/templates/content/company.marko
Labels: site: automationworld

#40 Address 2 column layout issues
  packages/common/leaders/components/column-layout.marko
  packages/common/leaders/components/index.marko
  packages/common/leaders/components/marko.json
  packages/common/scss/company-page.scss
  packages/common/scss/leaders.scss
  sites/automationworld/server/templates/content/company.marko
Labels: site: packworld

#42 Added company layout to remaining PMMI sites
  packages/common/graphql/fragments/content-company.js
  sites/automationworld/server/routes/content.js
  sites/healthcarepackaging/server/components/flows/content-list.marko
  sites/healthcarepackaging/server/components/flows/marko.json
  sites/healthcarepackaging/server/routes/content.js
  sites/healthcarepackaging/server/templates/content/company.marko
  sites/oemmagazine/server/components/flows/content-list.marko
  sites/oemmagazine/server/components/flows/marko.json
  sites/oemmagazine/server/routes/content.js
  sites/oemmagazine/server/templates/content/company.marko
  sites/packworld/server/components/flows/content-list.marko
  sites/packworld/server/components/flows/marko.json
  sites/packworld/server/routes/content.js
  sites/packworld/server/templates/content/company.marko
  sites/profoodworld/server/components/flows/content-list.marko
  sites/profoodworld/server/components/flows/marko.json
  sites/profoodworld/server/routes/content.js
  sites/profoodworld/server/templates/content/company.marko
Labels: site: healthcarepackaging, site: oemmagazine, site: packworld, site: profoodworld

#43 Events updates
  sites/automationworld/config/navigation.js
  sites/healthcarepackaging/config/navigation.js
  sites/oemmagazine/config/navigation.js
  sites/packworld/config/navigation.js
Labels: site: automationworld, site: healthcarepackaging, site: oemmagazine, site: packworld

#45 PMMI documents, PW menu links
  sites/automationworld/server/routes/published-content.js
  sites/automationworld/server/templates/published-content/documents.marko
  sites/healthcarepackaging/server/routes/published-content.js
  sites/healthcarepackaging/server/templates/published-content/documents.marko
  sites/oemmagazine/server/routes/published-content.js
  sites/oemmagazine/server/templates/published-content/documents.marko
  sites/packworld/config/navigation.js
  sites/packworld/server/routes/published-content.js
  sites/packworld/server/templates/published-content/documents.marko
  sites/profoodworld/config/navigation.js
  sites/profoodworld/server/routes/published-content.js
  sites/profoodworld/server/templates/published-content/documents.marko
Labels: 🌐 site: automationworld, 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: packworld, 🌐 site: profoodworld

#44 Add Leadership video blocks to article pages
  packages/common/components/blocks/leadership-company-videos.marko
  packages/common/components/blocks/marko.json
  packages/common/graphql/fragments/leadership-company-videos.js
  packages/common/scss/leaders.scss
  sites/automationworld/server/templates/content/index.marko
  sites/healthcarepackaging/server/templates/content/index.marko
  sites/oemmagazine/server/templates/content/index.marko
  sites/packworld/server/templates/content/index.marko
  sites/profoodworld/server/templates/content/index.marko
Labels: 📦 package: common

#48 Link all companies, if they have a website
  packages/common/components/blocks/featured-companies.marko
  packages/common/graphql/fragments/featured-companies.js
Labels: 📦 package: common

#49 Add service information to company page
  packages/common/components/blocks/company-details.marko
  packages/common/components/nodes/author-card.marko
  packages/common/graphql/fragments/content-company.js
  packages/common/leaders/browser/item-static.vue
  packages/common/leaders/browser/item.vue
  sites/automationworld/server/templates/content/company.marko
Labels: 📦 package: common

#51 PMMI Robots
  sites/automationworld/config/navigation.js
  sites/automationworld/server/public/robots.txt
  sites/healthcarepackaging/config/navigation.js
  sites/healthcarepackaging/server/public/robots.txt
  sites/oemmagazine/config/navigation.js
  sites/oemmagazine/server/public/robots.txt
  sites/packworld/config/navigation.js
  sites/packworld/server/public/robots.txt
  sites/profoodworld/config/navigation.js
  sites/profoodworld/server/public/robots.txt
Labels: 🌐 site: automationworld, 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: packworld, 🌐 site: profoodworld

#50 add temp global 250 & 50 temp pages
  sites/profoodworld/server/routes/website-section.js
  sites/profoodworld/server/templates/website-section/global-250.marko
  sites/profoodworld/server/templates/website-section/global-50.marko
Labels: 🌐 site: profoodworld

#53 Added document route and layout
  sites/automationworld/server/routes/content.js
  sites/automationworld/server/templates/content/document.marko
  sites/healthcarepackaging/server/routes/content.js
  sites/healthcarepackaging/server/templates/content/document.marko
  sites/oemmagazine/server/routes/content.js
  sites/oemmagazine/server/templates/content/document.marko
  sites/packworld/server/routes/content.js
  sites/packworld/server/templates/content/document.marko
  sites/profoodworld/server/routes/content.js
  sites/profoodworld/server/templates/content/document.marko
Labels: 🌐 site: automationworld, 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: packworld, 🌐 site: profoodworld
