Repository parameter1/pmmi-media-group-websites, pull requests merged in 2019-11, with the labels that each got.

#55 Updated dependency versions
  packages/common/package.json
  sites/automationworld/package.json
  sites/healthcarepackaging/package.json
  sites/oemmagazine/package.json
  sites/packworld/package.json
  sites/profoodworld/package.json
  yarn.lock
Labels: dependencies

#54 Custom redirect handlers for all sites
  sites/automationworld/index.js
  sites/automationworld/redirect-handler.js
  sites/healthcarepackaging/index.js
  sites/healthcarepackaging/redirect-handler.js
  sites/oemmagazine/index.js
  sites/oemmagazine/redirect-handler.js
  sites/packworld/index.js
  sites/packworld/redirect-handler.js
  sites/profoodworld/index.js
  sites/profoodworld/redirect-handler.js
Labels: 🌐 site: automationworld, 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: packworld, 🌐 site: profoodworld

#56 Fixed PW redirect path
  sites/packworld/redirect-handler.js
Labels: 🌐 site: packworld

#59 Resolve leaders header display issue on smaller screens
  packages/common/scss/leaders.scss
Labels: bug

#58 Leaders landing/index page
  packages/common/components/blocks/leaders-list-all.marko
  packages/common/components/blocks/marko.json
  packages/common/graphql/fragments/leaders-section.js
  packages/common/graphql/fragments/leadership-company.js
  packages/common/leaders/components/column-layout.marko
  packages/common/leaders/components/index.marko
  packages/common/leaders/components/marko.json
  packages/common/leaders/graphql/fragments/leaders-list.js
  packages/common/package.json
  packages/common/scss/leaders.scss
  sites/automationworld/package.json
  sites/automationworld/server/routes/website-section.js
  sites/automationworld/server/templates/website-section/leaders.marko
  sites/healthcarepackaging/package.json
  sites/healthcarepackaging/server/routes/website-section.js
  sites/healthcarepackaging/server/templates/website-section/leaders.marko
  sites/oemmagazine/package.json
  sites/oemmagazine/server/routes/website-section.js
  sites/oemmagazine/server/templates/website-section/leaders.marko
  sites/packworld/package.json
  sites/packworld/server/routes/website-section.js
  sites/packworld/server/templates/website-section/leaders.marko
  sites/profoodworld/package.json
  sites/profoodworld/server/routes/website-section.js
  sites/profoodworld/server/templates/website-section/leaders.marko
  yarn.lock
Labels: 📦 package: common

#61 Add company data to GAM targeting
  packages/common/components/elements/gam-content-targeting.marko
  packages/common/components/elements/marko.json
  packages/common/graphql/fragments/content-page.js
  packages/common/package.json
  sites/automationworld/server/templates/content/document.marko
  sites/automationworld/server/templates/content/index.marko
  sites/healthcarepackaging/server/templates/content/document.marko
  sites/healthcarepackaging/server/templates/content/index.marko
  sites/oemmagazine/server/templates/content/document.marko
  sites/oemmagazine/server/templates/content/index.marko
  sites/packworld/server/templates/content/document.marko
  sites/packworld/server/templates/content/index.marko
  sites/profoodworld/server/templates/content/document.marko
  sites/profoodworld/server/templates/content/index.marko
Labels: 🌐 site: automationworld, 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: packworld, 🌐 site: profoodworld, 📦 package: common

#60 Fix imgix references to use site hostnames
  sites/automationworld/config/site.js
  sites/automationworld/server/templates/content/index.marko
  sites/automationworld/server/templates/index.marko
  sites/healthcarepackaging/config/site.js
  sites/healthcarepackaging/server/templates/content/index.marko
  sites/healthcarepackaging/server/templates/index.marko
  sites/oemmagazine/config/site.js
  sites/oemmagazine/server/templates/content/index.marko
  sites/oemmagazine/server/templates/index.marko
  sites/packworld/config/site.js
  sites/packworld/server/templates/content/index.marko
  sites/packworld/server/templates/index.marko
  sites/profoodworld/config/site.js
  sites/profoodworld/server/templates/content/index.marko
  sites/profoodworld/server/templates/index.marko
Labels: 🌐 site: automationworld, 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: packworld, 🌐 site: profoodworld

#62 Update @base-cms dependencies
  packages/common/package.json
  sites/automationworld/package.json
  sites/healthcarepackaging/package.json
  sites/oemmagazine/package.json
  sites/packworld/package.json
  sites/profoodworld/package.json
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: common

#63 Add disclaimer for supplier submitted content
  packages/common/components/elements/marko.json
  packages/common/components/elements/supplier-disclaimer.marko
  packages/common/graphql/fragments/content-page.js
  packages/common/scss/common.scss
  sites/automationworld/server/components/nodes/components/attribution.marko
  sites/automationworld/server/components/nodes/content-card.marko
  sites/automationworld/server/components/nodes/content-list.marko
  sites/automationworld/server/graphql/fragments/content-list.js
  sites/automationworld/server/templates/content/document.marko
  sites/automationworld/server/templates/content/index.marko
  sites/automationworld/server/templates/content/webinar.marko
  sites/healthcarepackaging/server/components/nodes/components/attribution.marko
  sites/healthcarepackaging/server/components/nodes/content-card.marko
  sites/healthcarepackaging/server/components/nodes/content-list.marko
  sites/healthcarepackaging/server/graphql/fragments/content-list.js
  sites/healthcarepackaging/server/templates/content/document.marko
  sites/healthcarepackaging/server/templates/content/index.marko
  sites/healthcarepackaging/server/templates/content/webinar.marko
  sites/oemmagazine/server/components/nodes/components/attribution.marko
  sites/oemmagazine/server/components/nodes/content-card.marko
  sites/oemmagazine/server/components/nodes/content-list.marko
  sites/oemmagazine/server/graphql/fragments/content-list.js
  sites/oemmagazine/server/templates/content/document.marko
  sites/oemmagazine/server/templates/content/index.marko
  sites/oemmagazine/server/templates/content/webinar.marko
  sites/packworld/server/components/nodes/components/attribution.marko
  sites/packworld/server/components/nodes/content-card.marko
  sites/packworld/server/components/nodes/content-list.marko
  sites/packworld/server/graphql/fragments/content-list.js
  sites/packworld/server/templates/content/document.marko
  sites/packworld/server/templates/content/index.marko
  sites/packworld/server/templates/content/webinar.marko
  sites/profoodworld/server/components/nodes/components/attribution.marko
  sites/profoodworld/server/components/nodes/content-card.marko
  sites/profoodworld/server/components/nodes/content-list.marko
  sites/profoodworld/server/graphql/fragments/content-list.js
  sites/profoodworld/server/templates/content/document.marko
  sites/profoodworld/server/templates/content/index.marko
  sites/profoodworld/server/templates/content/webinar.marko
Labels: 🌐 site: ALL, 📦 package: common

#66 Restore download links in navigation
  sites/automationworld/config/navigation.js
  sites/healthcarepackaging/config/navigation.js
  sites/oemmagazine/config/navigation.js
  sites/packworld/config/navigation.js
  sites/profoodworld/config/navigation.js
Labels: 🌐 site: ALL

#67 Rename logistics nav/block title
  sites/healthcarepackaging/config/navigation.js
  sites/healthcarepackaging/server/templates/index.marko
Labels: 🌐 site: healthcarepackaging

#65 Update block titles to match leadership branding
  sites/automationworld/server/templates/content/company.marko
  sites/healthcarepackaging/server/templates/content/company.marko
  sites/oemmagazine/server/templates/content/company.marko
  sites/profoodworld/server/templates/content/company.marko
Labels: 🌐 site: automationworld, 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: profoodworld

#68 Add custom podcast template
  sites/automationworld/server/routes/content.js
  sites/automationworld/server/templates/content/podcast.marko
  sites/healthcarepackaging/server/routes/content.js
  sites/healthcarepackaging/server/templates/content/podcast.marko
  sites/oemmagazine/server/routes/content.js
  sites/oemmagazine/server/templates/content/podcast.marko
  sites/packworld/server/routes/content.js
  sites/packworld/server/templates/content/podcast.marko
  sites/profoodworld/server/routes/content.js
  sites/profoodworld/server/templates/content/podcast.marko
Labels: 🌐 site: ALL

#64 Upgrade @base-cms dependencies to rc.1
  packages/common/package.json
  sites/automationworld/package.json
  sites/healthcarepackaging/package.json
  sites/oemmagazine/package.json
  sites/packworld/package.json
  sites/profoodworld/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL, 📦 package: common

#70 Adjust z-indexing to not interfere with leaders
  packages/common/scss/carousel.scss
Labels: 🌐 site: ALL, 📦 package: common

#71 Adjust content load more limit
  sites/automationworld/server/components/blocks/content-load-more.marko
  sites/healthcarepackaging/server/components/blocks/content-load-more.marko
  sites/oemmagazine/server/components/blocks/content-load-more.marko
  sites/packworld/server/components/blocks/content-load-more.marko
  sites/profoodworld/server/components/blocks/content-load-more.marko
Labels: 🌐 site: ALL

#72 Dispatch Leaders program events to GTM
  packages/common/browser/gtm-track-leaders.vue
  packages/common/browser/index.js
  packages/common/components/leaders/gtm-tracker.marko
  packages/common/components/leaders/marko.json
  packages/common/package.json
  sites/automationworld/package.json
  sites/automationworld/server/components/document.marko
  sites/healthcarepackaging/package.json
  sites/healthcarepackaging/server/components/document.marko
  sites/oemmagazine/package.json
  sites/oemmagazine/server/components/document.marko
  sites/packworld/package.json
  sites/packworld/server/components/document.marko
  sites/profoodworld/package.json
  sites/profoodworld/server/components/document.marko
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: common

#73 Remove download links from PFW, PW, OEM
  sites/oemmagazine/config/navigation.js
  sites/packworld/config/navigation.js
  sites/profoodworld/config/navigation.js
Labels: 🌐 site: oemmagazine, 🌐 site: packworld, 🌐 site: profoodworld

#74 Track events from company pages
  packages/common/browser/index.js
  packages/common/browser/leaders-company-social-link.vue
  packages/common/browser/leaders-company-website-link.vue
  packages/common/components/leaders/company-social-link.marko
  packages/common/components/leaders/company-website-link.marko
  packages/common/components/leaders/marko.json
  sites/automationworld/server/templates/content/company.marko
  sites/healthcarepackaging/server/templates/content/company.marko
  sites/oemmagazine/server/templates/content/company.marko
  sites/packworld/server/templates/content/company.marko
  sites/profoodworld/server/templates/content/company.marko
Labels: 🌐 site: ALL, 📦 package: common

#77 Update home page load mores to remove ads
  sites/automationworld/server/templates/index.marko
  sites/healthcarepackaging/server/templates/index.marko
  sites/oemmagazine/server/templates/index.marko
  sites/packworld/server/templates/index.marko
  sites/profoodworld/server/templates/index.marko
Labels: 🌐 site: ALL

#75 Don’t include carousel for post-launch content
  sites/automationworld/server/templates/content/index.marko
  sites/healthcarepackaging/server/templates/content/index.marko
  sites/oemmagazine/server/templates/content/index.marko
  sites/packworld/server/templates/content/index.marko
  sites/profoodworld/server/templates/content/index.marko
Labels: 🌐 site: ALL

#76 Add instagram, pinterest, other fallback icon
  packages/common/browser/leaders-company-social-link.vue
Labels: 🌐 site: ALL

#78 Add routing for archived global25/50 pages
  sites/profoodworld/server/routes/website-section.js
Labels: 🌐 site: profoodworld

#79 Add additional homepage pinned content with IMU2 ad
  sites/automationworld/server/templates/index.marko
  sites/healthcarepackaging/server/templates/index.marko
  sites/oemmagazine/server/templates/index.marko
  sites/packworld/server/templates/index.marko
  sites/profoodworld/server/templates/index.marko
Labels: 🌐 site: ALL
