Repository parameter1/pmmi-media-group-websites, pull requests merged in 2019-12, with the labels that each got.

#80 Add webinars to Resources in menu
  sites/healthcarepackaging/config/navigation.js
Labels: 🌐 site: healthcarepackaging

#81 Add redirect handling for deleted companies
  docker-compose.yml
  packages/common/redirects/deleted-companies.js
  packages/common/redirects/deleted-companies.json
  sites/automationworld/redirect-handler.js
  sites/healthcarepackaging/redirect-handler.js
  sites/oemmagazine/redirect-handler.js
  sites/packworld/redirect-handler.js
  sites/profoodworld/redirect-handler.js
Labels: 🌐 site: ALL, 📦 package: common

#83 Update org references
  package.json
  packages/common/components/marko.json
  packages/common/marko.json
  packages/common/package.json
  scripts/workspace.sh
  sites/automationworld.com/browser/index.js
  sites/automationworld.com/package.json
  sites/automationworld.com/redirect-handler.js
  sites/automationworld.com/server/routes/content.js
  sites/automationworld.com/server/routes/index.js
  sites/automationworld.com/server/routes/website-section.js
  sites/automationworld.com/server/styles/index.scss
  sites/healthcarepackaging.com/browser/index.js
  sites/healthcarepackaging.com/package.json
  sites/healthcarepackaging.com/redirect-handler.js
  sites/healthcarepackaging.com/server/routes/content.js
  sites/healthcarepackaging.com/server/routes/index.js
  sites/healthcarepackaging.com/server/routes/website-section.js
  sites/healthcarepackaging.com/server/styles/index.scss
  sites/oemmagazine.org/browser/index.js
  sites/oemmagazine.org/package.json
  sites/oemmagazine.org/redirect-handler.js
  sites/oemmagazine.org/server/routes/content.js
  sites/oemmagazine.org/server/routes/index.js
  sites/oemmagazine.org/server/routes/website-section.js
  sites/oemmagazine.org/server/styles/index.scss
  sites/packworld.com/browser/index.js
  sites/packworld.com/package.json
  sites/packworld.com/redirect-handler.js
  sites/packworld.com/server/routes/content.js
  sites/packworld.com/server/routes/index.js
  sites/packworld.com/server/routes/website-section.js
  sites/packworld.com/server/styles/index.scss
  sites/profoodworld.com/browser/index.js
  sites/profoodworld.com/package.json
  sites/profoodworld.com/redirect-handler.js
  sites/profoodworld.com/server/routes/content.js
  sites/profoodworld.com/server/routes/index.js
  sites/profoodworld.com/server/routes/website-section.js
  sites/profoodworld.com/server/styles/index.scss
Labels: 🌐 site: ALL, 📦 package: common

#85 Add Sustainability and Manufacturing awards to menu
  sites/profoodworld.com/config/navigation.js
Labels: 🌐 site: profoodworld

#86 Ensure content has an active status when displaying carousel
  packages/common/graphql/fragments/content-page.js
  sites/automationworld.com/server/templates/content/index.marko
  sites/healthcarepackaging.com/server/templates/content/index.marko
  sites/oemmagazine.org/server/templates/content/index.marko
  sites/packworld.com/server/templates/content/index.marko
  sites/profoodworld.com/server/templates/content/index.marko
Labels: 🌐 site: ALL
