Repository parameter1/pmmi-media-group-websites, pull requests merged in 2020-09, with the labels that each got.

#160 Add datadog agent
  docker-compose.yml
  packages/shared/datadog.js
  packages/shared/package.json
  sites/automationworld.com/index.js
  sites/cobotspot.packworld.com/index.js
  sites/healthcarepackaging.com/index.js
  sites/oemmagazine.org/index.js
  sites/packworld.com/index.js
  sites/profoodworld.com/index.js
  yarn.lock
Labels: 🌐 site: ALL

#162 Add site verification files
  sites/automationworld.com/server/public/googlefa0643be59c290f5.html
  sites/cobotspot.packworld.com/server/public/googlefa0643be59c290f5.html
  sites/healthcarepackaging.com/server/public/googlefa0643be59c290f5.html
  sites/oemmagazine.org/server/public/googlefa0643be59c290f5.html
  sites/packworld.com/server/public/googlefa0643be59c290f5.html
  sites/profoodworld.com/server/public/googlefa0643be59c290f5.html
Labels: 🌐 site: ALL

#163 Fix header breakpoint issue
  packages/common/scss/common.scss
Labels: 🌐 site: ALL, 📦 package: common

#164 Update Global 250/50 routes
  sites/profoodworld.com/server/routes/website-section.js
Labels: 🌐 site: profoodworld
