Repository parameter1/pmmi-media-group-websites, pull requests merged in 2020-07, with the labels that each got.

#144 Add second skyscraper to home page
  sites/cobotspot.packworld.com/config/gam.js
  sites/cobotspot.packworld.com/server/templates/index.marko
Labels: 🌐 site: cobotspot.packworld.com

#145 Fix cobot spot ad position
  sites/cobotspot.packworld.com/server/templates/index.marko
Labels: 🌐 site: cobotspot.packworld.com

#147 Update list of merged company ids
  packages/common/redirects/deleted-companies.json
Labels: 🌐 site: ALL, 📦 package: common

#146 Query company content across all sites
  packages/common/components/nodes/featured-products-card.marko
  packages/common/package.json
  packages/shared/components/page-wrappers/content/company.marko
  packages/shared/components/page-wrappers/content/leader.marko
  packages/shared/package.json
  packages/shared/templates/content/company.marko
  sites/automationworld.com/package.json
  sites/cobotspot.packworld.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL, 📦 package: common, 📦 package: shared

#148 Add cobotspot to PW nav
  packages/common/scss/common.scss
  sites/packworld.com/config/navigation.js
  sites/packworld.com/server/styles/index.scss
Labels: 🌐 site: packworld

#149 Force a second item into feed template to show twitter widget
  sites/cobotspot.packworld.com/server/components/flows/content-hero-feed.marko
Labels: 🌐 site: cobotspot.packworld.com

#150 Remove publishedDate query on image carousel
  sites/automationworld.com/server/templates/content/index.marko
  sites/cobotspot.packworld.com/server/templates/content/index.marko
  sites/healthcarepackaging.com/server/templates/content/index.marko
  sites/oemmagazine.org/server/templates/content/index.marko
  sites/packworld.com/server/templates/content/index.marko
  sites/profoodworld.com/server/templates/content/index.marko
Labels: 🌐 site: ALL

#152 Add `recaptcha_site_key` to docker-compose.yml
  docker-compose.yml
Labels: 🌐 site: ALL

#151 Don’t display carousel between 10/30/2019 and 07/21/2020
  sites/automationworld.com/server/templates/content/index.marko
  sites/cobotspot.packworld.com/server/templates/content/index.marko
  sites/healthcarepackaging.com/server/templates/content/index.marko
  sites/oemmagazine.org/server/templates/content/index.marko
  sites/packworld.com/server/templates/content/index.marko
  sites/profoodworld.com/server/templates/content/index.marko
Labels: 🌐 site: ALL

#153 Replace “Downloads” with “Newsletter” in secondary nav
  sites/automationworld.com/config/navigation.js
  sites/healthcarepackaging.com/config/navigation.js
  sites/packworld.com/config/navigation.js
  sites/profoodworld.com/config/navigation.js
Labels: 🌐 site: automationworld, 🌐 site: healthcarepackaging, 🌐 site: packworld, 🌐 site: profoodworld

#155 Upgrade @base-cms dependencies to 1.33.1
  packages/common/package.json
  packages/shared/package.json
  sites/automationworld.com/package.json
  sites/cobotspot.packworld.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: dependencies
