Repository parameter1/pmmi-media-group-websites, pull requests merged in 2020-06, with the labels that each got.

#130 Update Downloads page from card-deck-flow to list-flow
  sites/automationworld.com/server/templates/published-content/documents.marko
Labels: 🌐 site: automationworld

#132 /events changed to /supplier-events
  sites/automationworld.com/server/routes/published-content.js
  sites/automationworld.com/server/templates/published-content/supplier-events.marko
  sites/healthcarepackaging.com/server/routes/published-content.js
  sites/healthcarepackaging.com/server/templates/published-content/supplier-events.marko
  sites/oemmagazine.org/server/routes/published-content.js
  sites/oemmagazine.org/server/templates/published-content/supplier-events.marko
  sites/packworld.com/server/routes/published-content.js
  sites/packworld.com/server/templates/published-content/supplier-events.marko
Labels: 🌐 site: ALL

#134 Update ‘Events’ link in site nav
  sites/profoodworld.com/config/navigation.js
Labels: 🌐 site: profoodworld

#135 PFW - /events changed to /supplier-events
  sites/profoodworld.com/server/routes/published-content.js
  sites/profoodworld.com/server/templates/published-content/supplier-events.marko
Labels: 🌐 site: profoodworld

#136 Update Events title to Supplier Events
  sites/profoodworld.com/server/templates/published-content/supplier-events.marko
Labels: 🌐 site: profoodworld

#140 Swap ‘Downloads’ with ‘Newsletters’ in site nav
  sites/oemmagazine.org/config/navigation.js
Labels: 🌐 site: oemmagazine

#139 Added teaser to list-flow on /downloads
  sites/automationworld.com/server/templates/published-content/documents.marko
Labels: 🌐 site: automationworld

#138 Add row to homepage & create new /products page
  sites/healthcarepackaging.com/server/routes/published-content.js
  sites/healthcarepackaging.com/server/templates/index.marko
  sites/healthcarepackaging.com/server/templates/published-content/products.marko
Labels: 🌐 site: healthcarepackaging

#141 Update description for ‘Supplier Events’ page
  sites/automationworld.com/server/templates/published-content/supplier-events.marko
  sites/healthcarepackaging.com/server/templates/published-content/supplier-events.marko
  sites/oemmagazine.org/server/templates/published-content/supplier-events.marko
  sites/packworld.com/server/templates/published-content/supplier-events.marko
  sites/profoodworld.com/server/templates/published-content/supplier-events.marko
Labels: 🌐 site: ALL

#143 Update Cobot Spot footer
  sites/cobotspot.packworld.com/config/navigation.js
  sites/cobotspot.packworld.com/config/site.js
  sites/cobotspot.packworld.com/server/components/blocks/footer.marko
  sites/cobotspot.packworld.com/server/components/blocks/marko.json
  sites/cobotspot.packworld.com/server/components/document.marko
  sites/cobotspot.packworld.com/server/styles/index.scss
Labels: 🌐 site: cobotspot.packworld.com

#142 Modify products block on company profile pages
  packages/common/components/nodes/featured-products-card.marko
  packages/common/components/nodes/marko.json
  packages/shared/components/page-wrappers/content/leader.marko
Labels: 🌐 site: ALL, 📦 package: common, 📦 package: shared
