Repository parameter1/pmmi-media-group-websites, pull requests merged in 2020-01, with the labels that each got.

#88 Allow overriding the GTM container ID (staging)
  docker-compose.yml
  sites/automationworld.com/config/site.js
  sites/healthcarepackaging.com/config/site.js
  sites/oemmagazine.org/config/site.js
  sites/packworld.com/config/site.js
  sites/profoodworld.com/config/site.js
Labels: 🌐 site: ALL

#91 Update leaders intro text
  sites/packworld.com/server/templates/website-section/leaders.marko
Labels: 🌐 site: packworld

#84 Update Global 50 Description
  sites/profoodworld.com/server/templates/website-section/global-50.marko
Labels: 🌐 site: profoodworld

#92 Update @base-cms deps
  package.json
  packages/common/package.json
  sites/automationworld.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: common

#93 Update supplier attribution in content-list nodes
  sites/automationworld.com/server/components/nodes/components/attribution.marko
  sites/automationworld.com/server/components/nodes/content-list.marko
  sites/healthcarepackaging.com/server/components/nodes/components/attribution.marko
  sites/healthcarepackaging.com/server/components/nodes/content-list.marko
  sites/oemmagazine.org/server/components/nodes/components/attribution.marko
  sites/oemmagazine.org/server/components/nodes/content-list.marko
  sites/packworld.com/server/components/nodes/components/attribution.marko
  sites/packworld.com/server/components/nodes/content-list.marko
  sites/profoodworld.com/server/components/nodes/components/attribution.marko
  sites/profoodworld.com/server/components/nodes/content-list.marko
Labels: 🌐 site: ALL

#94 Update content types for leaders video blocks
  sites/automationworld.com/server/templates/content/index.marko
  sites/healthcarepackaging.com/server/templates/content/index.marko
  sites/oemmagazine.org/server/templates/content/index.marko
  sites/packworld.com/server/templates/content/index.marko
  sites/profoodworld.com/server/templates/content/index.marko
Labels: 🌐 site: ALL

#95 Include categories with gam requests
  packages/common/components/elements/gam-content-targeting.marko
  packages/common/graphql/fragments/content-page.js
  packages/common/utils/gam-content-categories.js
Labels: 🌐 site: ALL, 📦 package: common

#96 Add Downloads to navigation & update leaders layout
  sites/automationworld.com/server/templates/published-content/documents.marko
  sites/automationworld.com/server/templates/website-section/leaders.marko
  sites/healthcarepackaging.com/server/templates/published-content/documents.marko
  sites/oemmagazine.org/config/navigation.js
  sites/oemmagazine.org/server/templates/published-content/documents.marko
  sites/packworld.com/config/navigation.js
  sites/packworld.com/server/templates/published-content/documents.marko
  sites/profoodworld.com/config/navigation.js
  sites/profoodworld.com/server/templates/published-content/documents.marko
Labels: 🌐 site: ALL
