Repository parameter1/pmmi-media-group-websites, pull requests merged in 2020-04, with the labels that each got.

#117 Add magazine page links to menus
  packages/shared/graphql/fragments/dynamic-page.js
  packages/shared/templates/dynamic-page/index.marko
  sites/automationworld.com/config/navigation.js
  sites/automationworld.com/server/routes/dynamic-page.js
  sites/healthcarepackaging.com/config/navigation.js
  sites/healthcarepackaging.com/server/graphql/fragments/dynamic-page.js
  sites/healthcarepackaging.com/server/routes/dynamic-page.js
  sites/healthcarepackaging.com/server/templates/dynamic-page/index.marko
  sites/oemmagazine.org/config/navigation.js
  sites/oemmagazine.org/server/graphql/fragments/dynamic-page.js
  sites/oemmagazine.org/server/routes/dynamic-page.js
  sites/oemmagazine.org/server/templates/dynamic-page/index.marko
  sites/packworld.com/config/navigation.js
  sites/packworld.com/server/graphql/fragments/dynamic-page.js
  sites/packworld.com/server/routes/dynamic-page.js
  sites/packworld.com/server/templates/dynamic-page/index.marko
  sites/profoodworld.com/config/navigation.js
  sites/profoodworld.com/server/graphql/fragments/dynamic-page.js
  sites/profoodworld.com/server/routes/dynamic-page.js
  sites/profoodworld.com/server/templates/dynamic-page/index.marko
Labels: 🌐 site: ALL, 📦 package: shared

#118 Update contact layout
  packages/common/package.json
  packages/shared/graphql/fragments/content-contact.js
  packages/shared/package.json
  sites/automationworld.com/package.json
  sites/automationworld.com/server/components/blocks/content-load-more.marko
  sites/automationworld.com/server/routes/content.js
  sites/automationworld.com/server/templates/content/contact.marko
  sites/healthcarepackaging.com/package.json
  sites/healthcarepackaging.com/server/components/blocks/content-load-more.marko
  sites/healthcarepackaging.com/server/routes/content.js
  sites/healthcarepackaging.com/server/templates/content/contact.marko
  sites/oemmagazine.org/package.json
  sites/oemmagazine.org/server/components/blocks/content-load-more.marko
  sites/oemmagazine.org/server/routes/content.js
  sites/oemmagazine.org/server/templates/content/contact.marko
  sites/packworld.com/package.json
  sites/packworld.com/server/components/blocks/content-load-more.marko
  sites/packworld.com/server/routes/content.js
  sites/packworld.com/server/templates/content/contact.marko
  sites/profoodworld.com/package.json
  sites/profoodworld.com/server/components/blocks/content-load-more.marko
  sites/profoodworld.com/server/routes/content.js
  sites/profoodworld.com/server/templates/content/contact.marko
  yarn.lock
Labels: dependencies, 🌐 site: ALL, 📦 package: shared

#120 Upgrade @base-cms dependencies to 1.27.0
  packages/common/package.json
  packages/shared/package.json
  sites/automationworld.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL
