Repository parameter1/pmmi-media-group-websites, pull requests merged in 2021-02, with the labels that each got.

#177 Change AW section page to use CTA div
  sites/automationworld.com/server/templates/website-section/index.marko
Labels: 🌐 site: automationworld

#178 Update podcast templates to include withSite param
  packages/common/package.json
  packages/shared/package.json
  sites/automationworld.com/package.json
  sites/automationworld.com/server/templates/published-content/podcasts.marko
  sites/cobotspot.packworld.com/package.json
  sites/cobotspot.packworld.com/server/templates/published-content/podcasts.marko
  sites/healthcarepackaging.com/package.json
  sites/healthcarepackaging.com/server/templates/published-content/podcasts.marko
  sites/oemmagazine.org/package.json
  sites/oemmagazine.org/server/templates/published-content/podcasts.marko
  sites/packworld.com/package.json
  sites/packworld.com/server/templates/published-content/podcasts.marko
  sites/profoodworld.com/package.json
  sites/profoodworld.com/server/templates/published-content/podcasts.marko
  yarn.lock
Labels: 🌐 site: ALL

#179 Swap leaders session on PFW
  .github/workflows/node-cd-staging.yml
  .github/workflows/node-ci.yml
  .travis.yml
  sites/profoodworld.com/config/leaders.js
Labels: 🌐 site: profoodworld

#181 Upgrade P1 deps for leaders packages
  packages/common/package.json
  packages/shared/package.json
  sites/automationworld.com/package.json
  sites/cobotspot.packworld.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: bug, dependencies

#180 Remove bad sort field from podcast queries
  sites/automationworld.com/server/templates/published-content/podcasts.marko
  sites/cobotspot.packworld.com/server/templates/published-content/podcasts.marko
  sites/healthcarepackaging.com/config/navigation.js
  sites/healthcarepackaging.com/server/templates/published-content/podcasts.marko
  sites/oemmagazine.org/config/navigation.js
  sites/oemmagazine.org/server/templates/published-content/podcasts.marko
  sites/packworld.com/config/navigation.js
  sites/packworld.com/server/templates/published-content/podcasts.marko
  sites/profoodworld.com/config/navigation.js
  sites/profoodworld.com/server/templates/published-content/podcasts.marko
Labels: bug, 🌐 site: ALL

#184 Update p1events cookie domain for packworld
  sites/packworld.com/config/site.js
Labels: 🌐 site: packworld
