Repository parameter1/pmmi-media-group-websites, pull requests merged in 2021-05, with the labels that each got.

#199 Update downloads/documents template to use card deck flow
  packages/shared/templates/published-content/documents.marko
Labels: 🌐 site: ALL

#204 Use published content layout for /products on HCP, PW, PFW
  packages/shared/templates/published-content/products.marko
  sites/healthcarepackaging.com/server/routes/index.js
  sites/packworld.com/server/routes/index.js
  sites/packworld.com/server/routes/published-content.js
  sites/profoodworld.com/server/routes/index.js
  sites/profoodworld.com/server/routes/published-content.js
Labels: 🌐 site: healthcarepackaging, 🌐 site: packworld, 🌐 site: profoodworld

#205 Disallow /print/content
  sites/automationworld.com/server/public/robots.txt
  sites/cobotspot.packworld.com/server/public/robots.txt
  sites/healthcarepackaging.com/server/public/robots.txt
  sites/oemmagazine.org/server/public/robots.txt
  sites/packworld.com/server/public/robots.txt
  sites/profoodworld.com/server/public/robots.txt
Labels: 🌐 site: ALL

#206 Enable leaders for mundo
  sites/mundopmmi.com/server/templates/index.marko
Labels: 🌐 site: mundopmmi.com

#207 Create content attribution component with contact titles
  packages/common/components/elements/attribution/components/authors.marko
  packages/common/components/elements/attribution/components/byline.marko
  packages/common/components/elements/attribution/components/company.marko
  packages/common/components/elements/attribution/components/contributors.marko
  packages/common/components/elements/attribution/components/photographers.marko
  packages/common/components/elements/attribution/components/source.marko
  packages/common/components/elements/attribution/components/sponsors.marko
  packages/common/components/elements/attribution/index.marko
  packages/common/components/elements/attribution/marko.json
  packages/common/components/elements/marko.json
  packages/common/scss/common.scss
  packages/common/scss/content-page.scss
  packages/shared/graphql/fragments/content-page.js
  packages/shared/templates/content/index.marko
  packages/shared/templates/content/podcast.marko
Labels: 🌐 site: ALL, 📦 package: common

#209 Upgrade node, add parserOption for babel-eslint & upgrade base-cms deps
  .travis.yml
  Dockerfile
  docker-compose.yml
  eslintrc.browser.js
  package.json
  packages/common/package.json
  packages/shared/package.json
  sites/automationworld.com/package.json
  sites/cobotspot.packworld.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/mundopmmi.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL, 📦 package: common, 📦 package: shared
