Repository parameter1/pmmi-media-group-websites, pull requests merged in 2021-07, with the labels that each got.

#233 Update nav and menu to include downloads
  packages/shared/templates/content/index.marko
  sites/mundopmmi.com/config/navigation.js
Labels: 🌐 site: mundopmmi.com

#234 Update queries to fill pages, pull items cross-site
  packages/common/components/blocks/leadership-company-videos.marko
  packages/shared/components/blocks/content-load-more.marko
  packages/shared/components/page-wrappers/content/leader.marko
  packages/shared/templates/published-content/documents.marko
  packages/shared/templates/published-content/products.marko
  packages/shared/templates/published-content/supplier-events.marko
  packages/shared/templates/published-content/videos.marko
  packages/shared/templates/published-content/webinars.marko
  packages/shared/templates/published-content/white-papers.marko
  sites/automationworld.com/server/templates/index.marko
  sites/cobotspot.packworld.com/server/components/blocks/content-load-more.marko
  sites/healthcarepackaging.com/server/templates/index.marko
  sites/oemmagazine.org/server/templates/index.marko
  sites/packworld.com/server/templates/index.marko
  sites/profoodworld.com/server/templates/index.marko
Labels: 🌐 site: ALL

#236 Update downloads description and title for Mundo.
  packages/shared/templates/published-content/documents.marko
  sites/mundopmmi.com/config/i18n.js
Labels: 🌐 site: mundopmmi.com

#235 Remove published dates from Leaders Promotions.
  packages/common/components/nodes/featured-products-card.marko
Labels: 🌐 site: ALL

#240 Add IdentityX gated content, gated print content & Omeda rapidIdentityX component.
  packages/shared/components/blocks/content-page/gate.marko
  packages/shared/components/blocks/content-page/marko.json
  packages/shared/components/blocks/marko.json
  packages/shared/components/document.marko
  packages/shared/graphql/fragments/content-page.js
  packages/shared/package.json
  packages/shared/routes/index.js
  packages/shared/routes/print-content.js
  packages/shared/templates/content/index.marko
  packages/shared/templates/content/print.marko
  packages/shared/utils/get-content-preview.js
  sites/automationworld.com/config/site.js
  sites/healthcarepackaging.com/config/site.js
  sites/mundopmmi.com/config/site.js
  sites/oemmagazine.org/config/site.js
  sites/packworld.com/config/site.js
  sites/profoodworld.com/config/site.js
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: shared

#241 Add social sharing
  packages/shared/browser/index.js
  packages/shared/package.json
  packages/shared/scss/index.scss
  packages/shared/templates/content/index.marko
  yarn.lock
Labels: 🌐 site: ALL
