Repository parameter1/pmmi-media-group-websites, pull requests merged in 2021-03, with the labels that each got.

#185 Update OEM leaders config defaults
  sites/oemmagazine.org/config/leaders.js
Labels: 🌐 site: oemmagazine

#186 Defer Leaders components to core; enable P1 leaders tracking
  packages/common/browser/gtm-track-leaders.vue
  packages/common/browser/index.js
  packages/common/browser/leaders-company-social-link.vue
  packages/common/browser/leaders-company-website-link.vue
  packages/common/components/leaders/company-social-link.marko
  packages/common/components/leaders/company-website-link.marko
  packages/common/components/leaders/dropdown-portal.marko
  packages/common/components/leaders/gtm-tracker.marko
  packages/common/components/leaders/marko.json
  packages/common/package.json
  packages/shared/browser/index.js
  packages/shared/components/page-wrappers/content/leader.marko
  packages/shared/package.json
  packages/shared/templates/content/company.marko
  sites/automationworld.com/package.json
  sites/automationworld.com/server/components/document.marko
  sites/cobotspot.packworld.com/package.json
  sites/cobotspot.packworld.com/server/components/document.marko
  sites/healthcarepackaging.com/package.json
  sites/healthcarepackaging.com/server/components/document.marko
  sites/oemmagazine.org/package.json
  sites/oemmagazine.org/server/components/document.marko
  sites/packworld.com/package.json
  sites/packworld.com/server/components/document.marko
  sites/profoodworld.com/package.json
  sites/profoodworld.com/server/components/document.marko
  yarn.lock
Labels: 🌐 site: ALL

#187 Track off-site links on Leaders company pages
  packages/common/components/blocks/leadership-company-videos.marko
  packages/common/components/nodes/featured-products-card.marko
  packages/common/components/nodes/marko.json
  packages/common/components/nodes/youtube-card.marko
  packages/common/package.json
  packages/shared/components/page-wrappers/content/leader.marko
  packages/shared/package.json
  sites/automationworld.com/package.json
  sites/automationworld.com/server/components/document.marko
  sites/cobotspot.packworld.com/package.json
  sites/cobotspot.packworld.com/server/components/document.marko
  sites/healthcarepackaging.com/package.json
  sites/healthcarepackaging.com/server/components/document.marko
  sites/oemmagazine.org/package.json
  sites/oemmagazine.org/server/components/document.marko
  sites/packworld.com/package.json
  sites/packworld.com/server/components/document.marko
  sites/profoodworld.com/package.json
  sites/profoodworld.com/server/components/document.marko
  yarn.lock
Labels: 🌐 site: ALL

#188 Add link tracking to content bodies and "Companies in this Article"
  packages/common/components/blocks/featured-companies.marko
  packages/common/components/blocks/marko.json
  packages/common/components/nodes/featured-products-card.marko
  packages/common/components/nodes/marko.json
  packages/common/components/nodes/youtube-card.marko
  packages/common/package.json
  packages/shared/browser/index.js
  packages/shared/components/blocks/content-body-with-tracking.marko
  packages/shared/components/blocks/marko.json
  packages/shared/components/page-wrappers/content/company.marko
  packages/shared/components/page-wrappers/content/leader.marko
  packages/shared/package.json
  sites/automationworld.com/package.json
  sites/automationworld.com/server/components/document.marko
  sites/automationworld.com/server/templates/content/contact.marko
  sites/automationworld.com/server/templates/content/document.marko
  sites/automationworld.com/server/templates/content/index.marko
  sites/automationworld.com/server/templates/content/podcast.marko
  sites/automationworld.com/server/templates/content/webinar.marko
  sites/cobotspot.packworld.com/package.json
  sites/cobotspot.packworld.com/server/components/document.marko
  sites/cobotspot.packworld.com/server/templates/content/contact.marko
  sites/cobotspot.packworld.com/server/templates/content/document.marko
  sites/cobotspot.packworld.com/server/templates/content/index.marko
  sites/cobotspot.packworld.com/server/templates/content/podcast.marko
  sites/cobotspot.packworld.com/server/templates/content/webinar.marko
  sites/healthcarepackaging.com/package.json
  sites/healthcarepackaging.com/server/components/document.marko
  sites/healthcarepackaging.com/server/templates/content/contact.marko
  sites/healthcarepackaging.com/server/templates/content/document.marko
  sites/healthcarepackaging.com/server/templates/content/index.marko
  sites/healthcarepackaging.com/server/templates/content/podcast.marko
  sites/healthcarepackaging.com/server/templates/content/webinar.marko
  sites/oemmagazine.org/package.json
  sites/oemmagazine.org/server/components/document.marko
  sites/oemmagazine.org/server/templates/content/contact.marko
  sites/oemmagazine.org/server/templates/content/document.marko
  sites/oemmagazine.org/server/templates/content/index.marko
  sites/oemmagazine.org/server/templates/content/podcast.marko
  sites/oemmagazine.org/server/templates/content/webinar.marko
  sites/packworld.com/package.json
  sites/packworld.com/server/components/document.marko
  sites/packworld.com/server/templates/content/contact.marko
  sites/packworld.com/server/templates/content/document.marko
  sites/packworld.com/server/templates/content/index.marko
  sites/packworld.com/server/templates/content/podcast.marko
  sites/packworld.com/server/templates/content/webinar.marko
  sites/profoodworld.com/package.json
  sites/profoodworld.com/server/components/document.marko
  sites/profoodworld.com/server/templates/content/contact.marko
  sites/profoodworld.com/server/templates/content/document.marko
  sites/profoodworld.com/server/templates/content/index.marko
  sites/profoodworld.com/server/templates/content/podcast.marko
  sites/profoodworld.com/server/templates/content/webinar.marko
  yarn.lock
Labels: 🌐 site: ALL

#189 Allow featured companies from other sites to display
  packages/common/components/blocks/featured-companies.marko
Labels: 🌐 site: ALL

#190 Push inquiry submissions to P1 Events tracker
  packages/common/package.json
  packages/shared/components/blocks/inquiry.marko
  packages/shared/package.json
  sites/automationworld.com/package.json
  sites/cobotspot.packworld.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#192 Upgrade @parameter1 base-cms dependencies to 2.8.6
  packages/common/package.json
  packages/shared/package.json
  sites/automationworld.com/package.json
  sites/cobotspot.packworld.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL
