Repository parameter1/pmmi-media-group-websites, pull requests merged in 2022-01, with the labels that each got.

#278 Make all identity-x fields required
  sites/automationworld.com/config/identity-x.js
  sites/healthcarepackaging.com/config/identity-x.js
  sites/mundopmmi.com/config/identity-x.js
  sites/oemmagazine.org/config/identity-x.js
  sites/packworld.com/config/identity-x.js
  sites/profoodworld.com/config/identity-x.js
Labels: 🌐 site: ALL

#281 Update PW Leaders Page copy.
  sites/packworld.com/server/templates/website-section/leaders.marko
Labels: 🌐 site: packworld

#284 Update AW and PW Leaders Configurations.
  docker-compose.yml
  sites/automationworld.com/config/leaders.js
  sites/packworld.com/config/leaders.js
Labels: 🌐 site: automationworld, 🌐 site: packworld

#285 Upgrade @Parameter1 Deps to v2.67.0
  packages/common/package.json
  packages/shared/package.json
  sites/automationworld.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/mundopmmi.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: dependencies

#287 Use site config on routes and query fragments requiring information from it.
  packages/common/components/blocks/leadership-company-videos.marko
  packages/common/graphql/fragment-factories/content-company.js
  packages/common/graphql/fragment-factories/leadership-company-videos.js
  packages/shared/graphql/fragment-factories/content-page.js
  packages/shared/routes/content.js
  packages/shared/routes/print-content.js
  packages/shared/routes/search.js
  packages/shared/start-server.js
  sites/mundopmmi.com/server/routes/index.js
Labels: help wanted, 📦 package: common, 🌐 site: ALL, 📦 package: shared

#291 Add search sorting
  packages/shared/package.json
  packages/shared/scss/components/_search-page.scss
  packages/shared/templates/search.marko
  yarn.lock
Labels: 🌐 site: ALL
