Repository parameter1/pmmi-media-group-websites, pull requests merged in 2022-11, with the labels that each got.

#471 Create 2 additional ad slots
  packages/global/components/layouts/content/default.marko
  packages/global/config/gam.js
  packages/global/scss/core.scss
  packages/global/templates/content/index.marko
  sites/automationworld.com/config/gam.js
  sites/healthcarepackaging.com/config/gam.js
  sites/mundopmmi.com/config/gam.js
  sites/oemmagazine.org/config/gam.js
  sites/packworld.com/config/gam.js
  sites/profoodworld.com/config/gam.js
Labels: 🌐 site: ALL

#466 Add translation keys for search page and site menu to i18n config, Mundo.
  packages/global/components/site-menu/components/search.marko
  packages/global/components/site-menu/index.marko
  packages/global/config/identity-x-nav.js
  packages/global/start-server.js
  packages/global/templates/user/login.marko
  sites/mundopmmi.com/config/i18n.js
Labels: 🌐 site: mundopmmi.com

#474 Upgrade dependencies
  packages/global/package.json
  packages/theme-monorail-leaders/package.json
  sites/automationworld.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/mundopmmi.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#476 Pull in i18n to Login page, translate appropriately
  packages/global/templates/user/login.marko
  sites/mundopmmi.com/config/i18n.js
Labels: bug, 🌐 site: ALL

#478 Add transcript support
  packages/global/components/layouts/content/default.marko
  packages/global/package.json
  packages/theme-monorail-leaders/graphql/fragment-factories/content-page.js
  packages/theme-monorail-leaders/package.json
  sites/automationworld.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/mundopmmi.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#480 Add ‘Education’ link under resources in menu
  sites/healthcarepackaging.com/config/navigation.js
  sites/oemmagazine.org/config/navigation.js
  sites/packworld.com/config/navigation.js
  sites/profoodworld.com/config/navigation.js
Labels: 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: packworld, 🌐 site: profoodworld
