Repository parameter1/pmmi-media-group-websites, pull requests merged in 2022-02, with the labels that each got.

#295 Upgrade dependencies
  packages/shared/package.json
  yarn.lock
Labels: 🌐 site: ALL

#298 Add Supplier News to Resources Menu under Podcasts, OEM.
  sites/oemmagazine.org/config/navigation.js
Labels: 🌐 site: oemmagazine

#299 Change Supplier Submitted to Supplier News in Menu, OEM.
  sites/oemmagazine.org/config/navigation.js
Labels: 🌐 site: oemmagazine

#303 Upgrade dependencies
  packages/global/package.json
  packages/shared/package.json
  packages/theme-monorail/package.json
  sites/global.automationworld.com/package.json
  sites/global.healthcarepackaging.com/package.json
  sites/global.mundopmmi.com/package.json
  sites/global.oemmagazine.org/package.json
  sites/global.packworld.com/package.json
  sites/global.profoodworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#304 Move components to monorail theme & update site configs
  docker-compose.yml
  packages/global/components/document.marko
  packages/global/components/layouts/content/default.marko
  packages/global/components/marko.json
  packages/global/components/site-header.marko
  packages/global/config/omeda.js
  packages/global/scss/_variables.scss
  packages/global/start-server.js
  packages/theme-monorail/browser/site-newsletter-menu.vue
  packages/theme-monorail/browser/site-newsletter-menu/step1.vue
  packages/theme-monorail/components/blocks/hero-card.marko
  packages/theme-monorail/components/blocks/marko.json
  packages/theme-monorail/components/blocks/resource-library.marko
  packages/theme-monorail/components/client-side-block-loader.marko
  packages/theme-monorail/components/marko.json
  packages/theme-monorail/components/site-footer.marko
  packages/theme-monorail/components/site-newsletter-menu.marko
  packages/theme-monorail/scss/_variables.scss
  packages/theme-monorail/scss/components/_site-footer.scss
  sites/global.automationworld.com/config/navigation.js
  sites/global.automationworld.com/config/newsletter.js
  sites/global.automationworld.com/config/site.js
  sites/global.automationworld.com/server/templates/index.marko
  sites/global.healthcarepackaging.com/config/navigation.js
  sites/global.healthcarepackaging.com/config/newsletter.js
  sites/global.healthcarepackaging.com/config/site.js
  sites/global.healthcarepackaging.com/server/templates/index.marko
  sites/global.mundopmmi.com/config/navigation.js
  sites/global.mundopmmi.com/config/newsletter.js
  sites/global.mundopmmi.com/config/site.js
  sites/global.mundopmmi.com/server/templates/index.marko
  sites/global.oemmagazine.org/config/navigation.js
  sites/global.oemmagazine.org/config/newsletter.js
  sites/global.oemmagazine.org/config/site.js
  sites/global.oemmagazine.org/server/templates/index.marko
  sites/global.packworld.com/config/navigation.js
  sites/global.packworld.com/config/newsletter.js
  sites/global.packworld.com/config/site.js
  sites/global.packworld.com/server/styles/index.scss
  sites/global.packworld.com/server/templates/index.marko
  sites/global.profoodworld.com/config/navigation.js
  sites/global.profoodworld.com/config/newsletter.js
  sites/global.profoodworld.com/config/site.js
  sites/global.profoodworld.com/server/templates/index.marko
Labels: 🌐 site: ALL

#305 Add magazine block to home pages
  packages/global/components/magazine/blocks/magazine-current-issue.marko
  packages/global/components/magazine/blocks/magazine-issue-cards.marko
  packages/global/components/magazine/blocks/magazine-issues.marko
  packages/global/components/magazine/blocks/magazine-publications.marko
  packages/global/components/magazine/blocks/marko.json
  packages/global/components/magazine/flows/magazine-issue-archive.marko
  packages/global/components/magazine/flows/magazine-latest-issue.marko
  packages/global/components/magazine/flows/marko.json
  packages/global/components/magazine/graphql/fragments/magazine-issue-archive.js
  packages/global/components/magazine/graphql/fragments/magazine-issue-page.js
  packages/global/components/magazine/graphql/fragments/magazine-latest-issue.js
  packages/global/components/magazine/graphql/fragments/magazine-publication-list.js
  packages/global/components/magazine/graphql/fragments/magazine-publication-page.js
  packages/global/components/magazine/marko.json
  packages/global/components/magazine/nodes/magazine-issue-archive.marko
  packages/global/components/magazine/nodes/magazine-latest-issue.marko
  packages/global/components/magazine/nodes/marko.json
  packages/global/components/magazine/publication-buttons.marko
  packages/global/components/magazine/routes/index.js
  packages/global/components/magazine/scss/index.scss
  packages/global/components/magazine/templates/index.marko
  packages/global/components/magazine/templates/issue.marko
  packages/global/components/magazine/templates/publication.marko
  packages/global/components/marko.json
  packages/global/routes/identity-x.js
  packages/global/routes/index.js
  packages/global/scss/components/blocks/_magazine-issues.scss
  packages/global/scss/core.scss
  sites/global.automationworld.com/config/navigation.js
  sites/global.automationworld.com/config/site.js
  sites/global.automationworld.com/config/subscribe.js
  sites/global.automationworld.com/server/templates/index.marko
  sites/global.healthcarepackaging.com/config/navigation.js
  sites/global.healthcarepackaging.com/config/site.js
  sites/global.healthcarepackaging.com/config/subscribe.js
  sites/global.healthcarepackaging.com/server/templates/index.marko
  sites/global.mundopmmi.com/config/navigation.js
  sites/global.mundopmmi.com/config/site.js
  sites/global.mundopmmi.com/config/subscribe.js
  sites/global.mundopmmi.com/server/templates/index.marko
  sites/global.oemmagazine.org/config/navigation.js
  sites/global.oemmagazine.org/config/site.js
  sites/global.oemmagazine.org/config/subscribe.js
  sites/global.oemmagazine.org/server/templates/index.marko
  sites/global.packworld.com/config/navigation.js
  sites/global.packworld.com/config/site.js
  sites/global.packworld.com/config/subscribe.js
  sites/global.packworld.com/server/templates/index.marko
  sites/global.profoodworld.com/config/navigation.js
  sites/global.profoodworld.com/config/site.js
  sites/global.profoodworld.com/config/subscribe.js
  sites/global.profoodworld.com/server/templates/index.marko
Labels: 🌐 site: ALL

#308 Update newsletter configs
  packages/global/components/layouts/content/default.marko
  packages/global/components/layouts/website-section/feed.marko
  packages/theme-monorail/browser/inline-newsletter-form.vue
  packages/theme-monorail/browser/inline-newsletter-form/step1.vue
  packages/theme-monorail/browser/newsletter-signup-form/privacy-policy.vue
  packages/theme-monorail/browser/site-newsletter-menu.vue
  packages/theme-monorail/browser/site-newsletter-menu/step1.vue
  packages/theme-monorail/components/blocks/newsletter-signup-banner.marko
  packages/theme-monorail/components/identity-x/content-page-gate.marko
  packages/theme-monorail/components/identity-x/marko.json
  packages/theme-monorail/components/nodes/author-published.marko
  packages/theme-monorail/components/nodes/content-published.marko
  packages/theme-monorail/components/site-menu/index.marko
  packages/theme-monorail/components/site-newsletter-menu.marko
  packages/theme-monorail/graphql/fragments/content-page.js
  packages/theme-monorail/routes/search.js
  packages/theme-monorail/scss/components/_content-page.scss
  packages/theme-monorail/scss/components/_search-page.scss
  packages/theme-monorail/scss/components/blocks/_section-card-deck.scss
  packages/theme-monorail/templates/search.marko
  packages/theme-monorail/utils/get-content-preview.js
  sites/global.automationworld.com/config/navigation.js
  sites/global.automationworld.com/config/newsletter.js
  sites/global.automationworld.com/config/privacy-policy.js
  sites/global.healthcarepackaging.com/config/navigation.js
  sites/global.healthcarepackaging.com/config/newsletter.js
  sites/global.healthcarepackaging.com/config/privacy-policy.js
  sites/global.mundopmmi.com/config/navigation.js
  sites/global.mundopmmi.com/config/newsletter.js
  sites/global.mundopmmi.com/config/privacy-policy.js
  sites/global.oemmagazine.org/config/navigation.js
  sites/global.oemmagazine.org/config/newsletter.js
  sites/global.oemmagazine.org/config/privacy-policy.js
  sites/global.packworld.com/config/navigation.js
  sites/global.packworld.com/config/newsletter.js
  sites/global.packworld.com/config/privacy-policy.js
  sites/global.profoodworld.com/config/navigation.js
  sites/global.profoodworld.com/config/newsletter.js
  sites/global.profoodworld.com/config/privacy-policy.js
Labels: 🌐 site: ALL

#310 Add youtube links to all sites
  sites/automationworld.com/config/site.js
  sites/global.automationworld.com/config/site.js
  sites/global.healthcarepackaging.com/config/site.js
  sites/global.mundopmmi.com/config/site.js
  sites/global.oemmagazine.org/config/site.js
  sites/global.packworld.com/config/site.js
  sites/global.profoodworld.com/config/site.js
  sites/healthcarepackaging.com/config/site.js
  sites/mundopmmi.com/config/site.js
  sites/oemmagazine.org/config/site.js
  sites/packworld.com/config/site.js
  sites/profoodworld.com/config/site.js
Labels: 🌐 site: ALL

#311 Revert "Add youtube links to all sites"
  sites/automationworld.com/config/site.js
  sites/global.automationworld.com/config/site.js
  sites/global.healthcarepackaging.com/config/site.js
  sites/global.mundopmmi.com/config/site.js
  sites/global.oemmagazine.org/config/site.js
  sites/global.packworld.com/config/site.js
  sites/global.profoodworld.com/config/site.js
  sites/healthcarepackaging.com/config/site.js
  sites/mundopmmi.com/config/site.js
  sites/oemmagazine.org/config/site.js
  sites/packworld.com/config/site.js
  sites/profoodworld.com/config/site.js
Labels: 🌐 site: ALL

#313 Change first paragraph and add link to PDF, Leaders Page Description PackWorld.
  sites/packworld.com/server/templates/website-section/leaders.marko
Labels: 🌐 site: packworld

#317 Add disabled support to newsletter signup forms
  packages/theme-monorail/components/blocks/newsletter-signup-banner-large.marko
  packages/theme-monorail/components/site-footer.marko
Labels: 🌐 site: ALL
