Repository parameter1/pmmi-media-group-websites, pull requests merged in 2022-08, with the labels that each got.

#391 Navigation/Footer Changes
  sites/global.automationworld.com/config/navigation.js
  sites/global.automationworld.com/config/site.js
Labels: 🌐 site: automationworld

#390 Update linkedin link
  sites/global.healthcarepackaging.com/config/site.js
Labels: 🌐 site: healthcarepackaging

#395 Add translation support to scheduled content pages
  packages/global/components/layouts/scheduled-content/index.marko
  sites/global.mundopmmi.com/config/i18n.js
Labels: 🌐 site: mundopmmi.com

#397 FIx /leaders pages on global theme
  packages/global/components/layouts/website-section/leaders.marko
  packages/global/components/layouts/website-section/marko.json
  packages/global/scss/components/_leaders.scss
  sites/global.automationworld.com/server/templates/website-section/leaders.marko
  sites/global.healthcarepackaging.com/server/templates/website-section/leaders.marko
  sites/global.mundopmmi.com/server/templates/website-section/leaders.marko
  sites/global.oemmagazine.org/server/templates/website-section/leaders.marko
  sites/global.packworld.com/server/templates/website-section/leaders.marko
  sites/global.profoodworld.com/server/templates/website-section/leaders.marko
Labels: 🌐 site: ALL

#400 Add `Pinned` option to homepage top stories block query
  packages/global/components/layouts/website-section/home.marko
Labels: 🌐 site: ALL

#410 Update footer newsletter signup description
  sites/profoodworld.com/config/newsletter.js
Labels: 🌐 site: profoodworld

#420 Move featured products higher on company page
  packages/global/components/layouts/content/company.marko
  packages/global/scss/core.scss
  packages/global/templates/content/company.marko
  yarn.lock
Labels: 🌐 site: ALL

#419 Add teaser to default content layout
  packages/global/components/layouts/content/default.marko
Labels: 🌐 site: ALL

#421 Update native-x config
  packages/global/config/native-x.js
Labels: 🌐 site: ALL

#425 Add ‘Downloads’ to nav bar
  sites/healthcarepackaging.com/config/navigation.js
  sites/oemmagazine.org/config/navigation.js
  sites/packworld.com/config/navigation.js
Labels: 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: packworld

#426 Enable native-x for mundo, add native-x list collapsibility
  packages/global/components/blocks/native-x-list.marko
  sites/mundopmmi.com/config/native-x.js
Labels: 🌐 site: ALL

#427 Update ad config
  packages/global/config/gam.js
  sites/automationworld.com/config/gam.js
  sites/healthcarepackaging.com/config/gam.js
  sites/mundopmmi.com/config/gam.js
  sites/oemmagazine.org/config/gam.js
  sites/packworld.com/config/gam.js
  sites/profoodworld.com/config/gam.js
Labels: 🌐 site: ALL

#428 Add inlineSection type to PW homepage signup
  sites/packworld.com/server/templates/index.marko
Labels: 🌐 site: packworld

#431 Add ‘Supplier News’ to hamburger menu
  sites/automationworld.com/config/navigation.js
  sites/healthcarepackaging.com/config/navigation.js
  sites/mundopmmi.com/config/navigation.js
  sites/packworld.com/config/navigation.js
  sites/profoodworld.com/config/navigation.js
Labels: 🌐 site: automationworld, 🌐 site: healthcarepackaging, 🌐 site: packworld, 🌐 site: profoodworld, 🌐 site: mundopmmi.com

#430 Add ‘Downloads’ to navigation bar
  sites/profoodworld.com/config/navigation.js
Labels: 🌐 site: profoodworld

#436 Use theme content attribution
  packages/global/components/layouts/content/default.marko
Labels: 🌐 site: ALL

#438 Remove max width for webinar content body
  packages/global/scss/core.scss
Labels: 🌐 site: ALL
