Repository parameter1/pmmi-media-group-websites, pull requests merged in 2022-10, with the labels that each got.

#457 Upgrade dependencies
  packages/global/package.json
  packages/theme-monorail-leaders/package.json
  sites/automationworld.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/mundopmmi.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#459 Add Sponsored by logo to Global 50 page
  sites/profoodworld.com/server/templates/website-section/global-50.marko
Labels: 🌐 site: profoodworld

#458 Pass correct attributes, scheduled content pages
  packages/global/components/layouts/scheduled-content/index.marko
  sites/automationworld.com/server/templates/website-section/podcasts.marko
Labels: bug, 🌐 site: ALL

#461 Do not auto-expand contextual leaders block, when no context available
  packages/global/components/leaders/contextual.marko
Labels: 🌐 site: ALL

#463 Add logo & primary image width + height values
  packages/global/package.json
  packages/theme-monorail-leaders/graphql/fragment-factories/content-page.js
  packages/theme-monorail-leaders/package.json
  sites/automationworld.com/config/site.js
  sites/automationworld.com/package.json
  sites/healthcarepackaging.com/config/site.js
  sites/healthcarepackaging.com/package.json
  sites/mundopmmi.com/config/site.js
  sites/mundopmmi.com/package.json
  sites/oemmagazine.org/config/site.js
  sites/oemmagazine.org/package.json
  sites/packworld.com/config/site.js
  sites/packworld.com/package.json
  sites/profoodworld.com/config/site.js
  sites/profoodworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#464 Add gam content targeting
  packages/global/components/gam-content-targeting.marko
  packages/global/components/layouts/content/wrapper.marko
  packages/global/components/marko.json
  packages/global/utils/gam-content-categories.js
Labels: 🌐 site: ALL

#469 Inject ads for products, blogs, and press releases
  packages/global/components/layouts/content/default.marko
Labels: 🌐 site: ALL

#472 Remove advertisement label overrides
  packages/global/scss/core.scss
Labels: 🌐 site: ALL
