Repository parameter1/pmmi-media-group-websites, pull requests merged in 2023-12, with the labels that each got.

#607 Remove PW Leaders paragraph
  sites/packworld.com/server/templates/website-section/leaders.marko
Labels: 🌐 site: packworld

#610 Add additional topics to menu, CPGN
  sites/cpgnext.com/config/navigation.js
Labels: Website: cpgnext

#609 Addition of Machinery Basics block for PW and PFW content pages
  packages/global/components/layouts/content/default.marko
  packages/global/components/layouts/scheduled-content/index.marko
  sites/packworld.com/server/routes/scheduled-content.js
  sites/profoodworld.com/server/routes/scheduled-content.js
Labels: 🌐 site: packworld, 🌐 site: profoodworld

#608 Navigation design swap, Homepage block adjustments, Progress bar on articles, HCP
  packages/global/browser/index.js
  packages/global/browser/reading-progress-bar.vue
  packages/global/components/document.marko
  sites/cpgnext.com/browser/index.js
  sites/healthcarepackaging.com/config/navigation.js
  sites/healthcarepackaging.com/config/site.js
  sites/healthcarepackaging.com/server/styles/index.scss
  sites/healthcarepackaging.com/server/templates/index.marko
  sites/healthcarepackaging.com/server/templates/website-section/index.marko
Labels: 🌐 site: healthcarepackaging

#611 Add Webinars to navigation and menu, CPG Next
  sites/cpgnext.com/config/navigation.js
Labels: Website: cpgnext

#612 Include Emerging Brands in menus, PW and PFW
  sites/packworld.com/config/navigation.js
  sites/profoodworld.com/config/navigation.js
Labels: 🌐 site: packworld, 🌐 site: profoodworld

#613 Remove "Thanks For confirming" box for logged in users on Super Category pages
  packages/global/templates/taxonomy-category/index.marko
Labels: 🌐 site: ALL

#615 Enable GAM plugin
  packages/global/components/document.marko
  packages/global/package.json
  sites/cpgnext.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/mundopmmi.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#616 Remove Machinery Basics block and section, PFW
  packages/global/components/layouts/content/default.marko
  sites/profoodworld.com/server/routes/scheduled-content.js
Labels: 🌐 site: profoodworld

#619 Use Recommended "eyebrow" for Audience Native-X placements in list
  packages/global/components/blocks/native-x-list.marko
  sites/mundopmmi.com/config/i18n.js
Labels: 🌐 site: ALL

#620 Contextual Navigation CPGN
  packages/global/components/site-header.marko
  sites/cpgnext.com/config/navigation.js
  sites/cpgnext.com/server/styles/index.scss
Labels: Website: cpgnext

#621 Add gray background and reduce font size, secondary Nav CPGN
  sites/cpgnext.com/server/styles/index.scss
Labels: Website: cpgnext

#622 Upgrade dependencies
  packages/global/package.json
  sites/cpgnext.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/mundopmmi.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL
