Repository parameter1/pmmi-media-group-websites, pull requests merged in 2023-08, with the labels that each got.

#548 Adjust z-index of site-header to allow native ad to be clicked
  sites/cpgnext.com/server/styles/index.scss
Labels: bug, Website: cpgnext

#550 Add 'Latest In...' right rail since no Leaders
  packages/global/components/layouts/content/default.marko
  sites/cpgnext.com/server/styles/index.scss
Labels: Website: cpgnext

#551 Add Quizzes to PFW menu
  sites/profoodworld.com/config/navigation.js
Labels: 🌐 site: profoodworld
