Repository parameter1/pmmi-media-group-websites, pull requests merged in 2023-11, with the labels that each got.

#584 Update navigation to use /magazine
  packages/global/redirect-handler.js
  sites/healthcarepackaging.com/config/navigation.js
  sites/oemmagazine.org/config/navigation.js
  sites/packworld.com/config/navigation.js
  sites/profoodworld.com/config/navigation.js
Labels: 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: packworld, 🌐 site: profoodworld

#585 Increase progress bar height to 10px, fix z-index
  sites/cpgnext.com/server/styles/index.scss
Labels: Website: cpgnext

#588 Create one-off page, `casestudies-casepacking`, PW
  sites/packworld.com/server/routes/website-section.js
  sites/packworld.com/server/templates/website-section/casestudies-casepacking.marko
Labels: 🌐 site: packworld

#591 Increase margin-bottom of page description, Case Studes: Case Packing, PW
  sites/packworld.com/server/templates/website-section/casestudies-casepacking.marko
Labels: 🌐 site: packworld

#590 Update navigation and homepage blocks to reflect new sections, CPG Next
  sites/cpgnext.com/config/navigation.js
  sites/cpgnext.com/server/templates/index.marko
Labels: Website: cpgnext

#593 Update page description, casestudies-casepacking
  sites/packworld.com/server/templates/website-section/casestudies-casepacking.marko
Labels: 🌐 site: packworld

#595 Add Journeys to navigation, CPGN
  sites/cpgnext.com/config/navigation.js
Labels: Website: cpgnext

#597 Create Case Studies: Liquid Filling page, PackWorld
  sites/packworld.com/server/routes/website-section.js
  sites/packworld.com/server/templates/website-section/case-studies.marko
Labels: 🌐 site: packworld

#599 Update favicons, Mundo Expo Pack
  sites/mundopmmi.com/server/public/android-chrome-192x192.png
  sites/mundopmmi.com/server/public/android-chrome-512x512.png
  sites/mundopmmi.com/server/public/apple-touch-icon.png
  sites/mundopmmi.com/server/public/browserconfig.xml
  sites/mundopmmi.com/server/public/favicon-16x16.png
  sites/mundopmmi.com/server/public/favicon-194x194.png
  sites/mundopmmi.com/server/public/favicon-32x32.png
  sites/mundopmmi.com/server/public/favicon.ico
  sites/mundopmmi.com/server/public/mstile-150x150.png
  sites/mundopmmi.com/server/public/safari-pinned-tab.svg
Labels: 🌐 site: mundopmmi.com

#598 Additional Audience Native-X placements on homepages
  packages/global/components/blocks/native-x-list.marko
  sites/mundopmmi.com/server/templates/index.marko
  sites/oemmagazine.org/server/templates/index.marko
  sites/packworld.com/server/templates/index.marko
  sites/profoodworld.com/server/templates/index.marko
Labels: 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: packworld, 🌐 site: profoodworld

#601 Include additional column for Resources, CPG Next
  packages/global/components/site-menu/index.marko
  sites/cpgnext.com/config/navigation.js
Labels: Website: cpgnext

#603 Emerging Brands branding for PFW and PW
  packages/global/components/layouts/content/default.marko
  packages/global/graphql/fragments/emerging-brands-section-page.js
  packages/theme-monorail-leaders/graphql/fragment-factories/content-page.js
  sites/packworld.com/server/routes/website-section.js
  sites/packworld.com/server/templates/website-section/index.marko
  sites/profoodworld.com/server/routes/website-section.js
  sites/profoodworld.com/server/templates/website-section/index.marko
Labels: 🌐 site: packworld, 🌐 site: profoodworld

#604 Add Labeling Super Category Placement, Pack World
  packages/global/templates/taxonomy-category/index.marko
  sites/packworld.com/config/native-x.js
Labels: 🌐 site: packworld

#605 Hide Emerging Pages section page title
  packages/global/components/layouts/website-section/feed.marko
  packages/global/scss/core.scss
Labels: 🌐 site: packworld, 🌐 site: profoodworld
