Repository parameter1/pmmi-media-group-websites, pull requests merged in 2024-04, with the labels that each got.

#674 Add mindful ad unit event and append unit to creative context
  packages/global/package.json
  sites/cpgnext.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/mundopmmi.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#673 Add Subscribe and Downloads to PFW navigation
  sites/profoodworld.com/config/navigation.js
  sites/profoodworld.com/server/templates/index.marko
Labels: 🌐 site: profoodworld

#675 Remove old published content route for Packaging Technology
  sites/profoodworld.com/server/routes/website-section.js
Labels: 🌐 site: profoodworld

#677 2 Layer HCP Navigation
  sites/healthcarepackaging.com/config/navigation.js
  sites/healthcarepackaging.com/server/styles/index.scss
Labels: 🌐 site: healthcarepackaging

#680 Forcibly hardset the SEO title for Leaders section pages to be Leaders
  packages/global/components/layouts/website-section/leaders.marko
  packages/global/components/layouts/website-section/marko.json
  sites/healthcarepackaging.com/server/templates/website-section/leaders.marko
  sites/mundopmmi.com/server/templates/website-section/leaders.marko
  sites/oemmagazine.org/server/templates/website-section/leaders.marko
  sites/packworld.com/server/templates/website-section/leaders.marko
  sites/profoodworld.com/server/templates/website-section/leaders.marko
Labels: 🌐 site: ALL

#682 Update HCP Navigation and Homepage blocks
  packages/global/components/blocks/published-content-list.marko
  sites/healthcarepackaging.com/config/navigation.js
  sites/healthcarepackaging.com/server/templates/index.marko
Labels: 🌐 site: healthcarepackaging

#683 Correct Mundo `publicationIds` value to include correct pub
  sites/mundopmmi.com/config/magazine.js
Labels: 🌐 site: mundopmmi.com

#685 Replace Industries with Downloads, PW navigation
  sites/packworld.com/config/navigation.js
Labels: 🌐 site: packworld

#687 Change title of In Print block to Impreso on Mundo
  sites/mundopmmi.com/server/templates/index.marko
Labels: 🌐 site: mundopmmi.com
