Repository parameter1/pmmi-media-group-websites, pull requests merged in 2024-02, with the labels that each got.

#627 Contextual navigation support, OEM
  sites/oemmagazine.org/config/navigation.js
  sites/oemmagazine.org/config/site.js
  sites/oemmagazine.org/server/styles/index.scss
  sites/oemmagazine.org/server/templates/index.marko
Labels: 🌐 site: oemmagazine

#644 Setup reciclaje-quimico collection, Mundo
  sites/mundopmmi.com/server/routes/website-section.js
Labels: 🌐 site: mundopmmi.com

#645 Additional collections, PW
  sites/packworld.com/server/routes/website-section.js
Labels: 🌐 site: packworld

#646 Correct titles and descriptions, PW collections pages
  sites/packworld.com/server/routes/website-section.js
Labels: 🌐 site: packworld

#649 Track & Trace, Pharmaceutical Packaging collections, HCP
  sites/healthcarepackaging.com/server/routes/website-section.js
Labels: 🌐 site: healthcarepackaging

#648 Update content gate verbiage
  packages/global/components/layouts/content/default.marko
  packages/global/components/layouts/content/webinar.marko
  sites/mundopmmi.com/config/i18n.js
Labels: 🌐 site: ALL

#650 Remove ads and Leaders Contextual from appropriate document pages
  packages/global/components/layouts/content/default.marko
  packages/global/templates/content/index.marko
Labels: 🌐 site: ALL

#654 Correct Machine Design path
  sites/oemmagazine.org/config/navigation.js
Labels: bug, 🌐 site: oemmagazine

#653 PFAS collection page
  sites/packworld.com/server/routes/website-section.js
Labels: 🌐 site: packworld

#647 Reciclaje químico collection page
  sites/mundopmmi.com/server/routes/website-section.js
Labels: 🌐 site: mundopmmi.com

#655 Update gate text
  packages/global/components/layouts/content/default.marko
  packages/global/components/layouts/content/webinar.marko
  sites/mundopmmi.com/config/i18n.js
Labels: 🌐 site: ALL

#657 Correct `theme-client-side-most-popular-block` input
  packages/global/components/blocks/client-side-most-popular.marko
  packages/global/package.json
  sites/cpgnext.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/mundopmmi.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#658 Set min-height from 450px to 350px credsparkQuiz
  sites/healthcarepackaging.com/server/styles/index.scss
Labels: 🌐 site: healthcarepackaging
