Repository parameter1/pmmi-media-group-websites, pull requests merged in 2024-03, with the labels that each got.

#662 Setup Envases reutilizables collection page
  sites/mundopmmi.com/server/routes/website-section.js
Labels: 🌐 site: mundopmmi.com

#663 Add Webinars to OEM menu
  sites/oemmagazine.org/config/navigation.js
Labels: 🌐 site: oemmagazine

#664 HCP Section Page "Redesign"
  sites/healthcarepackaging.com/server/routes/website-section.js
  sites/healthcarepackaging.com/server/templates/website-section/index.marko
  sites/healthcarepackaging.com/server/templates/website-section/news.marko
Labels: 🌐 site: healthcarepackaging

#665 Update collection names
  sites/healthcarepackaging.com/server/routes/website-section.js
  sites/oemmagazine.org/server/routes/website-section.js
  sites/packworld.com/server/routes/website-section.js
  sites/profoodworld.com/server/routes/website-section.js
Labels: 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: packworld, 🌐 site: profoodworld

#660 Contextualize navigation for PackWorld
  sites/packworld.com/config/navigation.js
  sites/packworld.com/server/styles/index.scss
Labels: 🌐 site: packworld

#666 Resize PW navbar logo for new navbar design
  sites/packworld.com/config/site.js
Labels: 🌐 site: packworld

#668 2 Layer PFW Navigation
  sites/profoodworld.com/config/navigation.js
  sites/profoodworld.com/server/routes/website-section.js
  sites/profoodworld.com/server/styles/index.scss
Labels: 🌐 site: profoodworld

#669 Create HPP collection page, MUNDO
  sites/mundopmmi.com/server/routes/website-section.js
Labels: 🌐 site: mundopmmi.com

#670 PFW navigation homepage block updates
  sites/profoodworld.com/config/navigation.js
  sites/profoodworld.com/server/templates/index.marko
Labels: 🌐 site: profoodworld
