Repository parameter1/pmmi-media-group-websites, pull requests merged in 2024-06, with the labels that each got.

#697 Add ‘Term Package Design’ to navigation menu
  sites/packworld.com/config/navigation.js
Labels: 🌐 site: packworld

#699 Correctly add new section ‘Package Design’
  sites/packworld.com/config/navigation.js
Labels: 🌐 site: packworld

#701 Additional contact redirect for Joseph Derr
  packages/global/contact-redirects.js
Labels: 🌐 site: ALL

#686 Section page layout adjustments
  packages/global/components/leaders/marko.json
  packages/global/components/leaders/taxonomy-page.marko
  packages/global/config/gam.js
  packages/global/templates/website-section/super-category.marko
  sites/packworld.com/config/gam.js
  sites/packworld.com/server/routes/website-section.js
Labels: 🌐 site: packworld

#703 EXPO PACK 2024 collection page, Mundo Expo Pack
  sites/mundopmmi.com/server/routes/website-section.js
Labels: 🌐 site: mundopmmi.com

#705 Update description for EXPO PACK 2024 collection, Mundo Expo Pack
  sites/mundopmmi.com/server/routes/website-section.js
Labels: 🌐 site: mundopmmi.com

#706 Include section specific products at bottom of Super Categories
  packages/global/templates/website-section/super-category.marko
Labels: 🌐 site: packworld

#709 Mundo Navigation and Homepage block updates
  sites/mundopmmi.com/config/navigation.js
  sites/mundopmmi.com/config/site.js
  sites/mundopmmi.com/server/styles/index.scss
  sites/mundopmmi.com/server/templates/index.marko
Labels: 🌐 site: mundopmmi.com
