Repository parameter1/pmmi-media-group-websites, pull requests merged in 2024-08, with the labels that each got.

#726 Create AI for OEM collection page
  sites/oemmagazine.org/server/routes/website-section.js
Labels: 🌐 site: oemmagazine

#727 Create drupa-2024 collection page
  sites/packworld.com/server/routes/website-section.js
Labels: 🌐 site: packworld

#731 Translate Upcoming and On Demand headings on Webinars page, Mundo
  packages/global/components/layouts/website-section/webinars-feed.marko
  sites/mundopmmi.com/config/i18n.js
Labels: 🌐 site: mundopmmi.com

#734 Section Based Audience Placements
  packages/global/components/blocks/native-x-list.marko
  packages/global/components/layouts/content/default.marko
  sites/healthcarepackaging.com/config/native-x.js
  sites/oemmagazine.org/config/native-x.js
  sites/packworld.com/config/native-x.js
  sites/profoodworld.com/config/native-x.js
Labels: 🌐 site: ALL

#737 Add packexpo route to Mundo
  sites/mundopmmi.com/server/routes/website-section.js
Labels: 🌐 site: mundopmmi.com

#738 Add Rediseño Innovador collection page, MUNDO
  sites/mundopmmi.com/server/routes/website-section.js
Labels: 🌐 site: mundopmmi.com

#740 Swap Women in Packaging link to requested value
  sites/packworld.com/config/navigation.js
Labels: 🌐 site: packworld
