Repository parameter1/pmmi-media-group-websites, pull requests merged in 2024-07, with the labels that each got.

#710 Additional company redirects
  packages/global/redirects/deleted-companies.json
Labels: 🌐 site: ALL

#707 Section page transition
  packages/global/components/blocks/published-content-list.marko
  packages/global/components/layouts/content/default.marko
  packages/global/components/layouts/content/webinar.marko
  packages/global/components/layouts/scheduled-content/index.marko
  packages/global/components/layouts/website-section/events-feed.marko
  packages/global/components/layouts/website-section/feed.marko
  packages/global/components/layouts/website-section/marko.json
  packages/global/components/layouts/website-section/webinars-feed.marko
  packages/global/templates/website-section/collections.marko
  packages/global/templates/website-section/events.marko
  packages/global/templates/website-section/super-category.marko
  packages/global/templates/website-section/webinars.marko
  packages/global/templates/website-section/with-top-stories-block.marko
  packages/global/utils/handle-content-type-primary-section.js
  sites/healthcarepackaging.com/server/routes/scheduled-content.js
  sites/healthcarepackaging.com/server/routes/website-section.js
  sites/healthcarepackaging.com/server/templates/index.marko
  sites/mundopmmi.com/config/i18n.js
  sites/mundopmmi.com/server/routes/website-section.js
  sites/oemmagazine.org/server/routes/scheduled-content.js
  sites/oemmagazine.org/server/routes/website-section.js
  sites/oemmagazine.org/server/templates/index.marko
  sites/packworld.com/server/routes/scheduled-content.js
  sites/packworld.com/server/routes/website-section.js
  sites/packworld.com/server/templates/index.marko
  sites/profoodworld.com/server/routes/scheduled-content.js
  sites/profoodworld.com/server/routes/website-section.js
  sites/profoodworld.com/server/templates/index.marko
Labels: 🌐 site: ALL

#712 Correct to access property on pinneNode over node
  packages/global/templates/website-section/super-category.marko
Labels: bug

#713 Reverse sortOrder for upcoming Webinars
  packages/global/components/layouts/website-section/webinars-feed.marko
Labels: 🌐 site: ALL

#714 Additional Newsletter Signup on content pages PFW
  packages/global/components/layouts/content/default.marko
  packages/global/scss/core.scss
  sites/profoodworld.com/config/newsletter.js
Labels: 🌐 site: profoodworld

#715 Remove socialShareReplacementBanner PFW
  sites/profoodworld.com/config/newsletter.js
Labels: 🌐 site: profoodworld

#716 Monomateriales collection page, Mundo
  sites/mundopmmi.com/server/routes/website-section.js
Labels: 🌐 site: mundopmmi.com

#718 Allow 300x250 in NATIVE template
  packages/global/config/gam.js
Labels: 🌐 site: ALL

#719 Add ‘Automation’ as a secondary topic to navigation
  sites/oemmagazine.org/config/navigation.js
Labels: 🌐 site: oemmagazine

#720 Add Paper Packaging and Multpacking Collection pages, correct Machinery > Smart Packaging collection to use Tag taxonomy
  sites/packworld.com/server/routes/website-section.js
Labels: 🌐 site: packworld

#722 Swap Category Taxonomy to Website Section Scheduling for Collections pages
  sites/healthcarepackaging.com/server/routes/website-section.js
  sites/packworld.com/server/routes/website-section.js
Labels: 🌐 site: healthcarepackaging, 🌐 site: packworld

#723 Add route for /quizzes that using ‘Quiz’ label
  sites/packworld.com/server/routes/scheduled-content.js
  sites/profoodworld.com/server/routes/scheduled-content.js
Labels: 🌐 site: packworld, 🌐 site: profoodworld

#725 Include contextual navigation for Empaque Sostenible, Mundo
  sites/mundopmmi.com/config/navigation.js
Labels: 🌐 site: mundopmmi.com

#724 PFW Content Rail Newsletter Signup
  packages/global/components/layouts/content/default.marko
  packages/global/scss/core.scss
  sites/profoodworld.com/config/newsletter.js
Labels: 🌐 site: profoodworld
