Repository parameter1/pmmi-media-group-websites, pull requests merged in 2024-09, with the labels that each got.

#743 Always use content schedules for determining contextual leaders
  packages/global/components/leaders/contextual.marko
Labels: 🌐 site: ALL

#745 Update header logo, Mundo
  sites/mundopmmi.com/config/site.js
Labels: 🌐 site: mundopmmi.com

#748 Create /manodeobracalificada collection page
  sites/mundopmmi.com/server/routes/website-section.js
Labels: 🌐 site: mundopmmi.com

#751 Create "Researched Lists" landing page
  sites/healthcarepackaging.com/config/navigation.js
  sites/healthcarepackaging.com/server/routes/website-section.js
  sites/oemmagazine.org/config/navigation.js
  sites/oemmagazine.org/server/routes/website-section.js
  sites/packworld.com/config/navigation.js
  sites/packworld.com/server/routes/website-section.js
Labels: 🌐 site: healthcarepackaging, 🌐 site: oemmagazine, 🌐 site: packworld
