Repository parameter1/pmmi-media-group-websites, pull requests merged in 2025-01, with the labels that each got.

#782 Allow only fluid size creatives in Native placement
  packages/global/config/gam.js
Labels: 🌐 site: ALL

#783 Collapse empty categories
  packages/global/components/leaders/all.marko
  packages/global/components/leaders/contextual.marko
  packages/global/components/leaders/home-page.marko
  packages/global/components/leaders/taxonomy-page.marko
  packages/global/package.json
  sites/cpgnext.com/package.json
  sites/healthcarepackaging.com/package.json
  sites/mundopmmi.com/package.json
  sites/oemmagazine.org/package.json
  sites/packworld.com/package.json
  sites/profoodworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#784 Add ‘Videos’ block to homepage
  sites/healthcarepackaging.com/server/templates/index.marko
Labels: 🌐 site: healthcarepackaging

#785 Update Leaders intro copy for PW to align with 2025 program
  sites/packworld.com/server/templates/website-section/leaders.marko
Labels: 🌐 site: packworld

#786 Add header and view more to Videos block on homepage
  sites/healthcarepackaging.com/server/styles/index.scss
Labels: 🌐 site: healthcarepackaging

#787 Create /empaquesinteligentes collections page
  sites/mundopmmi.com/server/routes/website-section.js
Labels: 🌐 site: mundopmmi.com
